<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .tb,tr,td {
            border:1px solid #ccc;
            width:100px;
            text-align: center;
        }
        form{
            padding-top:20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2><%= sid %>用户的个人数据</h2>
    <div>
        <form action="/updateMember/<%= sid %>" method="post">
            <p>学号：<input type="text" name="sid" value="<%= sid %>" disabled></p>
            <p>姓名：<input type="text" name="Name" value="<%= Name %>"></p>
            <p>年龄：<input type="text" name="age" value="<%= age %>"></p>
            <p>性别：
                <input type="radio" name="sex" value='man' <%if(sex ==='man'){%>checked<%}%> >男&nbsp;&nbsp;
                <input type="radio" name="sex" value='women' <%if(sex ==='women'){%>checked<%}%> >女
            </p>
            <p>课程选择：
                <input type="checkbox" name="courses" value="英雄联盟" <%if(courses.indexOf('英雄联盟') !== -1){%>checked<%}%> >英雄联盟&nbsp;&nbsp;
                <input type="checkbox" name="courses" value="电影" <%if(courses.indexOf('电影') !== -1){%>checked<%}%> >电影&nbsp;&nbsp;
                <input type="checkbox" name="courses" value="音乐" <%if(courses.indexOf('音乐') !== -1){%>checked<%}%> >音乐
            </p>
            <input type="submit" class="btn btn-default" value="提交">
        </form>
    </div>
</div>
    
</body>
<script src="/js/jquery.min.js"></script>
<script>
</script>
</html>